html,
body {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto,
  -apple-system,
  'Helvetica Neue',
  'Segoe UI',
  Arial,
  sans-serif;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notes__add {
  background: #009578;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover {
  background: #00af8c;
}

.notes__filter {
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
    padding: 0.75em 0;
    text-align: center;
    margin: 0 auto;
    border: none;
    font-weight: 600;
}

.notes__save {
background: #009578;
border: none;
color: #ffffff;
cursor: pointer;
font-size: 2em;
font-weight: bold;
padding: 0.4em 2em;
  width: 150px;
margin: 0 auto;
border-radius: 7px;
text-align: center;
margin-top: 1em;
white-space: nowrap;
  display: inline-block;
}

.notes__save:hover {
  background: #00af8c;
}

.notes__delete {
  background: #c02d00;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
padding: 0.4em 2em;
  margin: 0 auto;
  border-radius: 7px;
  text-align: center;
  margin-top: 1em;
  white-space: nowrap;
    display: inline-block;
    width: 150px;
}

.notes__delete:hover {
  background: #db4c21;
}

.notes__save__offline {
background: #63b963;
  border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    padding: 0.4em 2em;
    width: 150px;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    margin-top: 1em;
    white-space: nowrap;
    display: inline-block;
}

.notes__save__offline:hover {
background-color: #74d674;
}

.notes__rem__offline {
background: #9c0087;
  border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    padding: 0.4em 2em;
    width: 150px;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    margin-top: 1em;
    white-space: nowrap;
    display: inline-block;
}

.notes__rem__offline:hover {
background: #c401aa;
}

.notes__list-item {
  cursor: pointer;
  background-color: #e7e7e763;
  margin-top: 5px;
  word-wrap: break-word;
  max-height: 12em;
}

.notes__list-item--selected {
  background: #f5de5e;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
}

.notes__small-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}

.logout__button {
  background: #c02d00;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
    white-space: nowrap;
    width: 8em;
    float: right;
    margin-bottom: 10px;
}

.logout__button:hover {
  background: #db4c21;
}

.statistics__button {
background: #3f3039;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 0 10px 0;
  font-weight: bold;
  border-radius: 7px;
  text-align: center;
  white-space: nowrap;
  width: 8em;
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
}

.statistics__button:hover {
background: #614d58;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notes__title {
  border: none;
  border-radius: 0.2em;
  outline: none;
  width: 100%;
  background-color: #f0f0f0;
  padding: 5px;

}
.notes__body {
  border: none;
  border-radius: 0.2em;
  outline: none;
  width: 100%;
  background-color: #f0f0f0;
  padding: 5px;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 2em;
  resize: none;
}

.button__holder {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}