* {
    font-family: Arial, serif;
    font-weight: lighter;
}

body {
    background: #3b4465;
    margin: 5%;
}

.headerTitle {
    color: #b2b2b2;
}

.headerNumber {
    color: white;
}

.left-statistics {
    position: fixed;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pageVisits {
    padding-top: 30%;
}

.totalNotes {
    padding-top: 30%;
}

.back__button {
    background: #c02d00;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 1.5em;
        padding: 10px 0 10px 0;
        font-weight: bold;
        border-radius: 7px;
        text-align: center;
        white-space: nowrap;
        width: 8em;
        
    }

    .back__button:hover {
        transform: scale(1.05);
    }

#statisticsChart {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120%;
    max-width: 1000px;
    height: 1000px
}
